body {
    background-color: black;
}

.nav{
    position: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    right: 2px;
    bottom: 800px;
    background-image: url("stars.jpg");
    z-index: 2;
}

.logo{
    position: fixed;
    background-image: url(./logo.png);
    z-index: 1;
    width: 230px;
    height: 175px;
    left: 42%;
    bottom: 85%;
    cursor: pointer;
}


.line{
    border:gray solid .5px;
    width: 0px;
    height: 40px;
    left: 440px;
    bottom: 900px;
    position: fixed;
}

.buttonLine{
    background-color: black;
    border: white solid .25px;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 150px;
    margin: auto;
}

.news{
    color: white;
    text-align: center;
    border: white solid 1px;
    width: 200px;
    height: 50px;
    left: 275px;
    position: fixed;
}

.video{
    color: white;
    text-align: center;
    border: white solid 1px;
    width: 200px;
    height: 50px;
    left: 475px;
    position: fixed;
}

.films{
    color: white;
    text-align: center;
    border: white solid 1px;
    width: 200px;
    height: 50px;
    left: 675px;
    position: fixed;
}

.series{
    color: white;
    text-align: center;
    border: white solid 1px;
    width: 200px;
    height: 50px;
    left: 875px;
    position: fixed;
}

.interactive{
    color: white;
    text-align: center;
    border: white solid 1px;
    width: 200px;
    height: 50px;
    left: 1075px;
    position: fixed;
}

.community{
    color: white;
    text-align: center;
    border: white solid 1px;
    width: 200px;
    height: 50px;
    left: 1275px;
    position: fixed;
}

.databank{
    color: white;
    text-align: center;
    border: white solid 1px;
    width: 200px;
    height: 50px;
    left: 1475px;
    position: fixed;
}

.streamLine {
        background-color: black;
        text-align: center;
        color:lightgray;
        width: 100%;
        height: 50px;
        position: relative;
        top: 203px;
        margin: auto;
}

.showText{
    color: white;
    text-align: center;
    font-size: xxx-large;
    left: 550px;
    top: 600px;
    position: relative;
}

.nrText{
    position: relative;
    z-index: 2;
    color: white;
    font-size: xxx-large;
    text-align: center;
    right: 550px;
    top: 100px;
}